<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Source Query</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <style>
      body {
        margin: 40px auto;
      }
      .table-layout {
        display: table;
      }
      .table-col {
        display: table-cell;
        white-space: nowrap;
        width: 1%;
        vertical-align: middle;
        padding-right: 5px;
      }
      .table-col:last-child {
        padding-right: 0px;
      }
      .col-expand {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Server Query</h3>
          </div>
          <div class="panel-body">
            <form action="query">
              <div class="table-layout">
                <span class="table-col col-expand">
                  <input type="text" name="server" class="input-lg form-control" placeholder="Enter Server Address" value="{{ server }}">
                </span>
                <span class="table-col">
                  <button type="submit" class="btn btn-lg btn-primary">Query</button>
                </span>
                {% if status != "Empty" %}
                <span class="table-col">
                  <button type="button" class="btn btn-lg btn-success" onclick="window.location.reload();">Refresh</button>
                </span>
                {% endif %}
              </div>
            </form>
          </div>
        </div>
      </div>
      {% if status == "Error" %}
      <div class="col-md-12">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Failed</h3>
          </div>
          <div class="panel-body">
            {{ error }}
          </div>
        </div>
      </div>
      {% endif %}
      {% if status == "Success" or status == "InfoOnly" %}
      <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Result</h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <colgroup>
                <col class="col-xs-3">
                <col class="col-xs-9">
              </colgroup>
              <thead>
                <tr>
                  <th>Property</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Name</td>
                  <td>{{ info.server_name }}</td>
                </tr>
                <tr>
                  <td>Players</td>
                  <td>{{ info.player_count }}/{{ info.max_players }}</td>
                </tr>
                <tr>
                  <td>Game</td>
                  <td>{{ info.game }}</td>
                </tr>
                <tr>
                  <td>Map</td>
                  <td>{{ info.map }}</td>
                </tr>
                {% if info.keywords is defined %}
                <tr>
                  <td>Tags</td>
                  <td>{{ info.keywords|replace(",", ", ") }}</td>
                </tr>
                {% endif %}
                <tr>
                  <td>Bots</td>
                  <td>{{ info.bot_count }}</td>
                </tr>
                <tr>
                  <td>App ID</td>
                  <td>{{ info.app_id }}</td>
                </tr>
                <tr>
                  <td>Gamedir</td>
                  <td>{{ info.folder }}</td>
                </tr>
                {% if info.steam_id is defined %}
                <tr>
                  <td>Steam ID</td>
                  <td>{{ info.steam_id }}</td>
                </tr>
                {% endif %}
                <tr>
                  <td>Platform</td>
                  <td>{{ info.platform }}</td>
                </tr>
                <tr>
                  <td>Server Type</td>
                  <td>{{ info.server_type }}</td>
                </tr>
                <tr>
                  <td>Password</td>
                  <td>{{ info.password_protected|yesno }}</td>
                </tr>
                <tr>
                  <td>VAC Enabled</td>
                  <td>{{ info.vac_enabled|yesno }}</td>
                </tr>
                <tr>
                  <td>Version</td>
                  <td>{{ info.version }}</td>
                </tr>
                {% if info.stv_name is defined %}
                <tr>
                  <td>SourceTV Name</td>
                  <td>{{ info.stv_name }}</td>
                </tr>
                <tr>
                  <td>SourceTV Port</td>
                  <td>{{ info.stv_port }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% if status == "InfoOnly" %}
      <div class="col-md-6">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Players</h3>
          </div>
          <div class="panel-body">
            {{ error }}
          </div>
        </div>
      </div>
      {% else %}
      <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Players</h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <colgroup>
                <col class="col-xs-7">
                <col class="col-xs-2">
                <col class="col-xs-3">
              </colgroup>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Score</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                {% for player in players|selectattr("name")|sort(attribute="score", reverse=True) %}
                <tr>
                  <td>{{ player.name }}</td>
                  <td>{{ player.score }}</td>
                  <td>{{ player.duration|duration }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% endif %} {# status == "InfoOnly" #}
      {% endif %} {# status == "Success" or status == "InfoOnly" #}
    </div>
  </body>
</html>
